<div>
  <table class="default">

    <table class="table">
      <thead class="table-primary">
        <tr>
          <th scope="col">Nombre del Paciente</th>
          <th scope="col">Nombre del Doctor</th>
          <th scope="col">Fecha Asignada</th>
          <th scope="col">Horario</th>
          <th scope="col">Asignacion</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="" *ngFor="let medical of MedicalCita">
          <td>{{medical.id_pacientel}}</td>
          <td>{{medical.id_doctorl}}</td>
          <td>{{medical.fecha_asignada}}</td>
          <td>{{medical.id_horario}}</td>
          <td>
            <button  class="me-1 btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseExample"
              (click)="cleanmodel(medical.id_cita_medica)">Asignar</button>
          </td>
          <td><button class="me-1 btn btn-warning" data-bs-toggle="collapse" data-bs-target="#collapseExample2"
            (click)="GetByMedical(medical.id_cita_medica)"> Editar</button></td>
        </tr>
      </tbody>
    </table>


    <!-- Modal -->
    <div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Asignacion de Consultorio</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ng-select dropdownPosition="bottom" bindLabel="id_consultorio" bindValue="id_consultorio"
                name="id_consultorio" [(ngModel)]="Create.id_consultorio" [items]="Consultorio"></ng-select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="registerMedical(Create)"
                data-bs-dismiss="modal">Save
                changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="mb-5">
      <div class="row mb-5 justify-content-center">
        <div class="col-lg-6">
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <ng-select dropdownPosition="bottom" bindLabel="id_consultorio" bindValue="id_consultorio"
                name="id_consultorio" [(ngModel)]="Create.id_consultorio" [items]="Consultorio"></ng-select>
            </div>
            <div class="card-footer">
              <button type="button" class="me-1 btn btn-primary" data-bs-toggle="collapse"
                data-bs-target="#collapseExample">Cerrar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="registerMedical(Create)"
                data-bs-toggle="collapse" data-bs-target="#collapseExample" data-bs-dismiss="modal"> Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <div class="row mb-5 justify-content-center">
        <div class="col-lg-6">
          <div class="collapse" id="collapseExample2">
            <div class="card card-body">
              Actualizacion
              <ng-select dropdownPosition="bottom" bindLabel="id_consultorio" bindValue="id_consultorio"
                name="id_consultorio" [(ngModel)]="Update.id_consultorio" [items]="Consultorio"></ng-select>
            </div>
            <div class="card-footer">
              <button type="button" class="me-1 btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseExample2">Cerrar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  data-bs-toggle="collapse" data-bs-target="#collapseExample2"(click)="updateMedical(Update)">Actualizar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
