<div class="login">
  <div class="login-triangle"></div>
  <h2 class="login-header">Sistema Médico</h2>

  <form class="login-container">
    <p><input type="email" placeholder="Email" name="email" id ="email" [(ngModel)]="Object.email"></p>
    <p><input type="password" placeholder="Contraseña" name ="password" id="password"  [(ngModel)]="Object.password"></p>
    <p><input type="submit" value="Iniciar Sesion"  (click)="login(Object)"></p>
    <a  [routerLink]="['/registerPatient']" onclid >No tienes cuenta Registrate</a>
  </form>
</div>