<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">Nombre del Paciente</th>
            <th scope="col">Nombre del Doctor</th>
            <th scope="col">Fecha Asignada</th>
            <th scope="col">Hora de Inicio</th>
            <th scope="col">Hora de finalizacion</th>
            <th scope="col">Consultorio</th>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor ="let medical of Medicalappointment" >
            <td>{{medical.id_citamedica.id_paciente.nombre_paciente}}</td>
            <td>{{medical.id_citamedica.id_doctor.nombre_d}}</td>
            <td>{{medical.id_citamedica.fecha_asignada}}</td>
            <td>{{medical.id_citamedica.hora_inicio}}</td>
            <td>{{medical.id_citamedica.hora_fin}}</td>
            <td>{{medical.id_consultorio.nombre_consultorio}}</td>
          </tr>
        </tbody>
      </table>
</body>
</html>