<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista Medica</title>
</head>

<body>

</body>

</html>

<table class="default">

  <table class="table">
    <thead class="table-primary">
      <tr>
        <th scope="col">NOMBRE DEL PACIENTE</th>
        <th scope="col">NOMBRE DEL DOCTOR</th>
        <th scope="col">FECHA ASIGNADA</th>
        <th scope="col">Consultorio</th>
        <th scope="col">HORARIOS</th>
      </tr>
    </thead>
    <tbody>
      <tr class="" *ngFor ="let medical of Medicalappointment" >
        <td>{{medical.nombre_paciente}} {{medical.apellido_paciente}}</td>
            <td>{{medical.nombre_doctor}} {{medical.apellido_doctor}}</td>
            <td>{{medical.fecha_asignada}}</td>
            <td>{{medical.id_consultoriol}}</td>
            <td>{{medical.horario}}</td>
      </tr>

    </tbody>
  </table>
</table>


<!--  <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">Nombre del Paciente</th>
            <th scope="col">Nombre del Doctor</th>
            <th scope="col">Fecha Asignada</th>
            <th scope="col">Hora de Inicio</th>
            <th scope="col">Hora de finalizacion</th>
            <th scope="col">Consultorio</th>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor ="let medical of Medicalappointment" >
            <td>{{medical.id_cita_medica.id_paciente.nombre_paciente}}</td>
            <td>{{medical.id_cita_medica.id_doctor.nombre_d}}</td>
            <td>{{medical.id_cita_medica.fecha_asignada}}</td>
            <td>{{medical.id_cita_medica.hora_inicio}}</td>
            <td>{{medical.id_cita_medica.hora_fin}}</td>
            <td>{{medical.id_consultorio.nombre_consultorio}}</td>
          </tr>
        </tbody>
      </table>-->