<div class="container">
  <div class="row mt-3 justify content-center mb-3">
  <div class="col">
    <div  class="card" *ngIf="!updating">
        <div class="card-header text-center">
            <h5>Registro de Doctores</h5>
        </div>
      <div class="row p-3">
        <div class="col">
          <div class="mb-3 row justifyContent-between">
            <div class="col-lg-6 col-md-6">
              <label for="txtNombre" class="fw-semibold form-label"
                >Nombre:</label
              >
              <input
                type="text"
                name="txtNombre"
                [(ngModel)]="doctor.nombre_d"
                id="txtNombre"
                (change)="print()"
                class="form-control input"
                [formControl]="nombreCtrl" 
                placeholder="Ingrese su nombre ej: Andy"
              />
              
              <p *ngIf="nombreCtrl.errors && nombreCtrl.dirty"> <small class="text-danger" *ngIf="nombreCtrl.hasError('required')">Este campo es requerido</small>
                <small class="text-danger" *ngIf="nombreCtrl.hasError('pattern')">¡El nombre solo acepta letras sin espacios!<br> Evite usar números o caracteres especiales ej: (*$%, etc)</small></p>
            </div>
            <div class="col-lg-6 col-md-6">
              <label for="txtApellido" class="fw-semibold form-label"
                >Apellido:</label
              >
              <input
                type="text"
                name="txtApellido"
                [(ngModel)]="doctor.apellidos_d"
                id="txtApellido"
                class="form-control"
                [formControl]="apellidoCtrl" 
              />
              <p *ngIf="apellidoCtrl.errors && apellidoCtrl.dirty"> <small class="text-danger" *ngIf="apellidoCtrl.hasError('required')">Este campo es requerido</small>
                <small class="text-danger" *ngIf="apellidoCtrl.hasError('pattern')">¡El apellido solo acepta letras sin espacios!<br> Evite usar números o caracteres especiales ej: (*$%, etc)</small></p>
            </div>
          </div>
          <div class="mb-3 row justifyContent-between">
            <div class="col-lg-6 col-md-6">
              <label for="txtEmail" class="fw-semibold form-label"
                >Email:</label
              >
              <input
                type="email"
                name="txtEmail"
                [(ngModel)]="doctor.email"
                id="txtEmail"
                class="form-control"
                [formControl]="emailCtrl" 
                
              />
              <p *ngIf="emailCtrl.errors && emailCtrl.dirty"> <small class="text-danger" *ngIf="emailCtrl.hasError('required')">Este campo es requerido</small>
                <small class="text-danger" *ngIf="emailCtrl.hasError('email')">No es un email válido</small></p>

            </div>
            <div class="col-lg-6 col-md-6">
              <label for="txtDireccion" class="fw-semibold form-label"
                >Dirección:</label
              >
              <input
                type="text"
                name="txtDireccion"
                [(ngModel)]="doctor.dirreccion_d"
                id="txtDireccion"
                class="form-control"
                [formControl]="direccionCtrl"  
              />
              <p *ngIf="direccionCtrl.errors && direccionCtrl.dirty"> <small class="text-danger" *ngIf="direccionCtrl.hasError('required')">Este campo es requerido</small>
                <small class="text-danger" *ngIf="direccionCtrl.hasError('pattern')">No es una dirección válida, evite usar numeros o caracteres especiales ej: (*$%, etc)</small></p>
            </div>
          </div>
          <div class="mb-3 row justifyContent-between">
            <div class="col-lg-6 col-md-6">
              <label for="txtEspecialidad" class="fw-semibold form-label"
                >Especialidades:</label
              >
              <ng-select
                [items]="specialities"
                bindLabel="descripcion_especialidad"
                bindValue="id_especialidad"
                [(ngModel)]="doctor.id_especialidades"
                name="txtEspecialidad"
                id="txtEspecialidad"
              >
              </ng-select>
            </div>
            <div class="form-group col-md-3">
              <label for="txtContraseña" class="fw-semibold form-label"
                >Contraseña:</label
              >
              <input
                type="password"
                name="txtContraseña"
                [(ngModel)]="doctor.password_d"
                id="txtContraseña"
                class="form-control"
                [formControl]="passwordCtrl" 
              />
              <small id="txtContraseña" class=" text-success" >- Al menos 8 caracteres de longitud
                <br>
                - Al menos 1 letra mayúscula  <br>
                - Al menos 1 letra minúscula  <br>
                - Al menos 1 número  <br>
                - Al menos 1 carácter especial  <br></small>
              <p *ngIf="passwordCtrl.errors && passwordCtrl.dirty">
                
                <small class="text-danger" *ngIf="passwordCtrl.hasError('required')">Este campo es requerido</small>
                <small id="txtContraseña" class=" text-danger" *ngIf="passwordCtrl.hasError('pattern')">
                  La contraseña no cumple con las especificaciones requeridas <br>
                </small>

              </p>
            </div>
            <div class="form-group col-md-3">
              <label for="contraseña">Confirmar Contraseña</label>
              <input type="password" class="form-control" id="txtconfirmarcontraseña" placeholder="Contraseña" name="confirmarpassword" [formControl]= "confirmarpasswordCtrl" [(ngModel)]="confirmarPassword">
                  <small class="text-{{confirmarPassword === doctor.password_d? 'success': 'danger'}}"  >{{confirmarPassword === doctor.password_d? "La contraseña coincide": "La contraseña no coincide"}}</small>
          </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
           <button (click)="registerDoctor(doctor)" class="btn btn-success" [disabled]="nombreCtrl.invalid">Registrar</button>
      </div>
    </div>

    <div  class="card" *ngIf="updating">
      <div class="card-header text-center">
          <h5>Actualizar Doctor</h5>
      </div>
    <div class="row p-3">
      <div class="col">
        <div class="mb-3 row justifyContent-between">
          <div class="col-lg-6 col-md-6">
            <label for="txtNombre" class="fw-semibold form-label"
              >Nombres:</label
            >
            <input
              type="text"
              name="txtNombre"
              [(ngModel)]="doctorModel.nombre_d"
              id="txtNombre"
              (change)="print()"
              [formControl]="nombreCtrl" 
              class="form-control"
            />
            <p *ngIf="nombreCtrl.errors && nombreCtrl.dirty"> <small class="text-danger" *ngIf="nombreCtrl.hasError('required')">Este campo es requerido</small>
              <small class="text-danger" *ngIf="nombreCtrl.hasError('pattern')">¡El nombre solo acepta letras sin espacios!<br> Evite usar números o caracteres especiales ej: (*$%, etc)</small></p>
          </div>
          <div class="col-lg-6 col-md-6">
            <label for="txtApellido" class="fw-semibold form-label"
              >Apellidos:</label
            >
            <input
              type="text"
              name="txtApellido"
              [(ngModel)]="doctorModel.apellidos_d"
              id="txtApellido"
              class="form-control"
              [formControl]="apellidoCtrl" 
            />
            <p *ngIf="apellidoCtrl.errors && apellidoCtrl.dirty"> <small class="text-danger" *ngIf="apellidoCtrl.hasError('required')">Este campo es requerido</small>
              <small class="text-danger" *ngIf="apellidoCtrl.hasError('pattern')">¡El apellido solo acepta letras sin espacios!<br> Evite usar números o caracteres especiales ej: (*$%, etc)</small></p>
          </div>
        </div>
        <div class="mb-3 row justifyContent-between">
          <div class="col-lg-6 col-md-6">
            <label for="txtEmail" class="fw-semibold form-label"
              >Email:</label
            >
            <input
              type="email"
              name="txtEmail"
              [(ngModel)]="doctorModel.email"
              id="txtEmail"
              class="form-control"
              [formControl]="emailCtrl" 
                
              />
              <p *ngIf="emailCtrl.errors && emailCtrl.dirty"> <small class="text-danger" *ngIf="emailCtrl.hasError('required')">Este campo es requerido</small>
                <small class="text-danger" *ngIf="emailCtrl.hasError('email')">No es un email válido</small></p>

            
          </div>
          <div class="col-lg-6 col-md-6">
            <label for="txtDireccion" class="fw-semibold form-label"
              >Dirección:</label
            >
            <input
              type="text"
              name="txtDireccion"
              [(ngModel)]="doctorModel.dirreccion_d"
              id="txtDireccion"
              class="form-control"
              [formControl]="direccionCtrl"  
              />
              <p *ngIf="direccionCtrl.errors && direccionCtrl.dirty"> <small class="text-danger" *ngIf="direccionCtrl.hasError('required')">Este campo es requerido</small>
                <small class="text-danger" *ngIf="direccionCtrl.hasError('pattern')">No es una dirección válida, evite usar numeros o caracteres especiales ej: (*$%, etc)</small></p>
            
          </div>
        </div>
        <div class="mb-3 row justifyContent-between">
          <div class="col-lg-6 col-md-6">
            <label for="txtEspecialidad" class="fw-semibold form-label"
              >Especialidades:</label
            >
            <ng-select
              [items]="specialities"
              bindLabel="descripcion_especialidad"
              bindValue="id_especialidad"
              [(ngModel)]="doctorModel.id_especialidades"
              name="txtEspecialidad"
              id="txtEspecialidad"
            >
            </ng-select>
          </div>
          <!--<div class="form-group col-md-3">
            <label for="txtContraseña" class="fw-semibold form-label"
              >Contraseña:</label
            >
            <input
              type="password"
              name="txtContraseña"
              [(ngModel)]="doctorModel.password_d"
              id="txtContraseña"
              class="form-control"
              [formControl]="passwordCtrl" 
              />
              <small id="txtContraseña" class=" text-success" >- Al menos 8 caracteres de longitud
                <br>
                - Al menos 1 letra mayúscula  <br>
                - Al menos 1 letra minúscula  <br>
                - Al menos 1 número  <br>
                - Al menos 1 carácter especial  <br></small>
              <p *ngIf="passwordCtrl.errors && passwordCtrl.dirty"> 
                <small class="text-danger" *ngIf="passwordCtrl.hasError('required')">Este campo es requerido</small>
                <small id="txtContraseña" class=" text-danger" *ngIf="passwordCtrl.hasError('pattern')">
                  La contraseña no cumple con las especificaciones requeridas <br>
                </small>
              </p>
            
        
          </div>
          <div class="form-group col-md-3">
            <label for="contraseña">Confirmar Contraseña</label>
            <input type="password" class="form-control" id="txtconfirmarcontraseña" placeholder="Contraseña" name="confirmarpassword" [formControl]= "confirmarpasswordCtrl" [(ngModel)]="confirmarPassword">
                <small class="text-{{confirmarPassword === doctor.password_d? 'success': 'danger'}}"  >{{confirmarPassword === doctor.password_d? "La contraseña coincide": "La contraseña no coincide"}}</small>
        </div>-->
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <button (click)="updateDoctor(doctorModel)" class="btn btn-success">Actualizar</button>
    </div>
  </div>
  </div>
</div> 
</div>
