<title>Registro De Citas Medicas</title>

<body>


  <div class="signupFrm">

    <form action="" class="form">
      <h1 class="title">Registro de Citas Medicas</h1>

      <div class="form-group col-md-6">
        <label for="nombre">Nombres</label>
        <input type="text" [(ngModel)]="nombrepaciente" (change)="comparepatients()" class="form-control" id="nombre" placeholder="Nombres" name ="nombres">
    </div>


      <div class="inputContainer">
        <input class="input" type="date" name="date" [(ngModel)]="MedicalAppoinment.fecha_asignada"
          placeholder="Fecha Asignada">
      </div>

      <div class="form-group col-md-6">
        <label for="inputHorario">Horario</label>
        <ng-select [items]="horario"bindLabel="descripcion"  bindValue="id_horario" [(ngModel)]="MedicalAppoinment.id_horario" name="txtalergias" id="txtalergias"></ng-select>
       </div>

       <div class="form-group col-md-6">
        <label for="inputHorario">Doctor</label>
        <ng-select [items]="doctor" bindLabel="nombre_d"  bindValue="id_doctor" [(ngModel)]="MedicalAppoinment.id_doctor" name="txtalergias" id="txtalergias"></ng-select>
       </div>

       <!-- The button to open modal -->
        <label for="my-modal" class="btn btn-primary" (click)="registermedical(MedicalAppoinment)">Registrar</label>

      <!-- Put this part before </body> tag -->
      <input type="checkbox" id="my-modal" class="modal-toggle" />
      <div class="modal">
        <div class="modal-box">
          <h3 class="font-bold text-lg">Cita medica registrada con exito!!</h3>
          <div class="modal-action">
            <label for="my-modal" class="btn btn-primary"> <a href="\dashboard\medical-appoinment-selection">Cerrar</a></label>
          </div>
        </div>
      </div>
    </form>

    <table class="default">

      <table class="table">
        <thead class="table-primary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Doctor</th>
            <th scope="col">Especialidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Hernesto Villanueva</td>
            <td>Pediatria</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Maria Granados</td>
            <td>Traumatologia</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Valeriano Villa</td>
            <td>Oftalmologia</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Eloy Ruiz</td>
            <td>Medicina General</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Asuncion Cuevas</td>
            <td>Cirujia Plastica</td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>

 