<div class="container">

    <nav class="sidebar ">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../../../assets/img/myprofile.png" alt="">
                </span>
                <div class="text header-text">
                    <span class="name">Doctor</span>
                    <span class="profession">Medico</span>
                </div>
            </div>
            <img src="../../../assets/svg/bxs-chevrons-right.svg" class="toggle">
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="nav-links">
                    <li class="nav-link">
                        <a href="#">
                            <object data="../../../assets/svg/bx-home.svg" type="" class="icon" width="50" height="50"></object>
                            <span class="text nav-text">Dashboard
    
                            </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <object data="../../../assets/svg/bx-spreadsheet.svg" type="" class="icon" width="50" height="50"></object>
                            <span class="text nav-text">Citas Asignadas
    
                            </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <object data="../../../assets/svg/bx-edit.svg" type="" class="icon" width="50" height="50"></object>
                            <span class="text nav-text">Informe pacientes
    
                            </span>
                        </a>
                    </li>
                    <div class="bottom-content">
    
                        <li class="nav-link">
                            <a href="#">
                                <object data="../../../assets/svg/bx-cog.svg" type="" class="icon" width="50" height="50"></object>
                                <span class="text nav-text">Configuraciones
        
                                </span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#">
                                <object data="../../../assets/svg/bx-exit.svg" type="" class="icon" width="50" height="50"></object>
                                <span class="text nav-text">Salir
        
                                </span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>

    

