<!--<div class="containers">
    <nav class="sidebar ">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../../../assets/img/myprofile.png" alt="">
                </span>
                <div class="text header-text">
                    <span class="name">Mi</span>
                    <span class="profession">Perfil</span>
                </div>
            </div>
            <img src="../../../assets/svg/bxs-chevrons-right.svg" class="toggle">
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="nav-links">
                    <li class="nav-link">
                        <a href="#">
                            <object data="../../../assets/svg/bx-home.svg" type="" class="icon" width="50" height="50"></object>
                            <span class="text nav-text">Dashboard

                            </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <object data="../../../assets/svg/bx-spreadsheet.svg" type="" class="icon" width="50" height="50"></object>
                            <span class="text nav-text">Citas Asignadas

                            </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <object data="../../../assets/svg/bx-edit.svg" type="" class="icon" width="50" height="50"></object>
                            <span class="text nav-text">Informe pacientes

                            </span>
                        </a>
                    </li>
                    <div class="bottom-content">

                        <li class="nav-link">
                            <a href="#">
                                <object data="../../../assets/svg/bx-cog.svg" type="" class="icon" width="50" height="50"></object>
                                <span class="text nav-text">Configuraciones

                                </span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#">
                                <object data="../../../assets/svg/bx-exit.svg" type="" class="icon" width="50" height="50"></object>
                                <span class="text nav-text">Salir

                                </span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>-->
<aside class="main-sidebar sidebar-ligth-danger elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
      <img src="../../../assets/img/hospital.png" alt="" class="brand-image img-circle elevation-0" style="opacity: .8">
      <span class="brand-text font-weight-light">
        <b>SISTEMA SALUD</b></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../../assets/img/doctorIMG.jpg" class="img-circle elevation-0" alt="User Image">
        </div>
        <div class="info">
          <a href="" class="d-block">Mi Perfil</a>
        </div>
      </div>




      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-pager"></i>
              <p>
                  Dashboard
                  <i class="fa-solid fa-table-columns"></i>
              </p>
            </a>


          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book-medical"></i>
              <p>
               Citas Asignadas

              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-injured"></i>
              <p>
                Informacion de Pacientes

              </p>
            </a>

          </li>




          <li class="nav-header">OPCIONES</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-cog"></i>
              <p class="text">Configuraciones</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>Salir</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>



