<aside class="main-sidebar sidebar-light-navy elevation-4" *ngIf = "isDoctor">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="../../../assets/img/hospital.png" alt="" class="brand-image img-circle elevation-0" style="opacity: .8">
      <span class="brand-text font-weight-light">
        <b>SISTEMA SALUD</b></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../../assets/img/doctorIMG.jpg" class="img-circle elevation-0" alt="User Image">
        </div>
        <div class="info">
          <a href="" class="d-block">Mi Perfil</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            <a href="\dashboard\doctors" class="nav-link">
              <i class="nav-icon fas fa-pager"></i>
              <p>
                  Dashboard
                  <i class="fa-solid fa-table-columns"></i>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a  href="\dashboard\medical-appoinment-list" class="nav-link">
              <i class="nav-icon fas fa-book-medical"></i>
              <p>
               Citas Asignadas

              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="\dashboard\patient-information" class="nav-link">
              <i class="nav-icon fas fa-user-injured"></i>
              <p>
                Informacion de Pacientes

              </p>
            </a>

          </li>
          <li class="nav-header">OPCIONES</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-cog"></i>
              <p class="text">Configuraciones</p>
            </a>
          </li>
          <li  class="nav-item">
            <a (click)="logOut()" class="nav-link">
              <i  routerLinkActive="router-link-active"  class="nav-icon fas fa-sign-out-alt"></i>
              <p>Salir</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <aside class="main-sidebar sidebar-light-navy elevation-4" *ngIf = "isPacient">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="../../../assets/img/hospital.png" alt="" class="brand-image img-circle elevation-0" style="opacity: .8">
      <span class="brand-text font-weight-light">
        <b>SISTEMA SALUD</b></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../../assets/img/doctorIMG.jpg" class="img-circle elevation-0" alt="User Image">
        </div>
        <div class="info">
          <a href="" class="d-block">Paciente</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            <a href="\dashboard\patient" class="nav-link">
              <i class="nav-icon fas fa-pager"></i>
              <p>
                  Dashboard
                  <i class="fa-solid fa-table-columns"></i>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="\dashboard\medical-appoinment-selection" class="nav-link">
              <i class="nav-icon fas fa-book-medical"></i>
              <p>
               Registrar Cita
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="\dashboard\patients-token" class="nav-link">
              <i class="nav-icon fas fa-user-injured"></i>
              <p>
                Informacion del Paciente

              </p>
            </a>

          </li>
          <li class="nav-header">OPCIONES</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-cog"></i>
              <p class="text"></p>
            </a>
          </li>
          <li  class="nav-item">
            <a (click)="logOut()" class="nav-link">
              <i  routerLinkActive="router-link-active"   class="nav-icon fas fa-sign-out-alt"></i>
              <p>Salir</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <aside class="main-sidebar sidebar-light-navy elevation-4" *ngIf = "isAdmin">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="../../../assets/img/hospital.png" alt="" class="brand-image img-circle elevation-0" style="opacity: .8">
      <span class="brand-text font-weight-light">
        <b>SISTEMA SALUD</b></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../../assets/img/doctorIMG.jpg" class="img-circle elevation-0" alt="User Image">
        </div>
        <div class="info">
          <a href="" class="d-block">Admin</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            <a href="\dashboard\doctors" class="nav-link">
              <i class="nav-icon fas fa-pager"></i>
              <p>
                  Dashboard
                  <i class="fa-solid fa-table-columns"></i>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="\dashboard\medical-appoinment-asignation" class="nav-link">
              <i class="nav-icon fas fa-book-medical"></i>
              <p>
               Registro Doctores

              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="\dashboard\medical-appoinment-asignation" class="nav-link">
              <i class="nav-icon fas fa-book-medical"></i>
              <p>
               Registro Citas Medicas

              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="\dashboard\patient-information" class="nav-link">
              <i class="nav-icon fas fa-user-injured"></i>
              <p>
                Informacion de Pacientes

              </p>
            </a>

          </li>
          <li class="nav-header">OPCIONES</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-cog"></i>
              <p class="text">Configuraciones</p>
            </a>
          </li>
          <li  class="nav-item">
            <a (click)="logOut()" class="nav-link">
              <i routerLinkActive="router-link-active"  class="nav-icon fas fa-sign-out-alt"></i>
              <p>Salir</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
